<div class="container">
  <div class="row faq about-margee">
    <h1>About Margee</h1>
    <p>
      Margee is a life-long knitter with a passion for unique and creative designs
      and patterns.  Running Blanknits gives her the ability to do what she loves
      and stay out of trouble at the same time.  During her freetime, Margee
      loves spending time with her dogs and her four grandchildren.
    </p>
  </div>

  <div class="row faq-heading">
    <h2>Frequently Asked Questions</h2>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What kind of yarn do you use?</h3>
      <p>
        For the Stork Blanknits, we use 100% acrylic yarn.  For the Lamb
        Blanknits, we use 90% wool and 10% nylon yarns.  They are both very easy
        to care for because they can be machine washed and dried.  Both styles
        are incredibly soft and warm and will not cause itching.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What is the design process like for the Stork Blanknits?</h3>
      <p>
        The process differs depending on the type of Blanknit you order.  For the
        Stork Blanknits, you would first choose two colors and a size for the
        Blanknit.  In the comments section, you can describe what you would like
        the Blanknit to look like.  We will customize a new design and email you
        a preview of it.  If any changes need to be made, we will be happy to
        revise the design up to two times with no additional charges.  Once we
        agree on a design, the Blanknit will be created and mailed promptly.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What is the design process like for the Lamb Blanknits?</h3>
      <p>
        For the Lamb Blanknit, there is no need to choose from two colors.  Our
        Lamb Blanknits start as natural, off-white, yarn that is 90% wool and 10%
        nylon.  They are then hand-dyed in a gradient color scheme that ranges
        from red to gold to green to blue.  Just let us know if you would like
        more or less of each dye color on the finished Blanknit.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>How long does delivery take after ordering a Blanknit?</h3>
      <p>
        Because of the unique design process, orders typically take between 3 and
        4 weeks for delivery. If you need it sooner, we do offer a rush delivery
        for an additional charge. Please contact us immediately to arrange the
        special rush delivery.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What is your return policy?</h3>
      <p>
        We stand behind our products with a 100% satisfaction guarantee. If there
        is any problem, please contact us immediately. After the blanket is
        returned, we will give a full refund. Unfortunately, if any of the
        information provided by the customer is incorrect, we cannot offer a
        refund, so double check!
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What kind of payment can I make?</h3>
      <p>
        We accept PayPal as payment. You can visit the Order page to submit
        payment.  Once we receive your payment, we will design your blanket and
        send you a design sheet.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Can you send the Blanknit to a giftee?</h3>
      <p>
        Absolutely!  We are happy to ship the Blanknit anywhere in the United
        States.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>Do I get a discount if I buy more than one Blanknit?</h3>
      <p>
        If the blankets are identical, there is a 10% discount on the second
        blanket. Because each is blanket is made individually, we cannot give
        discounts on each unique blanket.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>
        I am going to a baby shower and would love to give them a Blanknit,
        but they don't know the name yet.  Can I preorder a Blanknit?
      </h3>
      <p>
        Absolutely. We will send you a postcard that you can give at the time of
        the shower. After the baby’s name is decided, they simply fill out the
        postcard and mail it to BLANKNITS. We will then design, knit and mail the
        BLANKNIT with your card enclosed.
      </p>
    </div>
  </div>

  <div class="row faq">
    <div class="col-xs-10 col-xs-offset-1">
      <h3>What is your Privacy Policy?</h3>
      <p>
        We do not share your information with anyone.  All of your financial
        information is securely handled by PayPal.  If you have any additional
        questions, please feel free to e-mail us at
        <a href="mailto:margee@blanknits.com" target="_top">margee@blanknits.com</a>
        and we will respond as quickly as possible.
      </p>
    </div>
  </div>

</div>
