<div class="container gallery">
  <div class="row">
    <h2>Blanknits Gallery</h2>
    <p class="gallery-description">
      Here are just a few of blankets we have designed.  We are constantly looking
      for new and fun designs to make.  Maybe your blanket will be the next one
      added to our gallery!
    </p>
  </div>

  <div class="row">
    <h3>Baby Name Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.babyName">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Baby Quilt-Block Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.babyQuilt">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Unique Baby Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.babyMisc">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Priceless Momento Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.momento">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Blanknits Symbols</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.symbol">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Logo Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.logo">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Lamb Blanknits</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.lamb">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

  <div class="row">
    <h3>Blanknits Collection</h3>
    <div class="col-lg-3 col-sm-4 col-xs-6 galleryItem" ng-repeat="picture in gallery.allPics.assorted">
      <a target="_blank" href="{{picture}}"><img class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" /></a>
    </div>
  </div>

</div>
