<img id="home-image" src="https://s3.amazonaws.com/blanknits/home-image.jpg" alt="Blanknits display image"/>
<a id="home-image-caption" href="/gallery"><h2>See Our Gallery</h2></a>
  <div class="container">
  <div class="greeting">
    <h1>Welcome to Blanknits!</h1>
    <p>Hand-loomed, personalized blankets for any occasion.</p>
  </div>

  <div class="row information">
    <img class="col-md-6 col-xs-5 sample" src="https://s3.amazonaws.com/blanknits/baby-blanknit.jpeg" alt="Baby with Blanknit" />
    <div class="col-md-6 col-xs-7">
      <h3>At Blanknits</h3>
      <p class="paragraph">
        We specialize in designing and knitting blankets which are personalized
        to your specifications.  We pride ourselves on creatingone-of-a-kind
        pieces of art.  We don't re-use patterns; at Blanknits,  each blanket is
        designed from a blank canvas.  Whether for baby showers, weddings,
        anniversaries, graduations, retirements, or any other celebration, our
        blankets will be sure to add even more smiles to an already joyous event!
      </p>
      <a class="learn-story more" href="aboutUs"><h3>Hear Our Story</h3></a>
    </div>
  </div>

  <div class="row showcase">
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3.amazonaws.com/blanknits/Andrew_and_Laci2.jpeg" alt="Andrew and Laci Blanknit" />
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3.amazonaws.com/blanknits/wedding.jpeg" alt="wedding picture Blanknit" />
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3.amazonaws.com/blanknits/Klo.jpeg" alt="Klo Blanknit"/>
    </div>
  </div>

  <div class="row information">
    <div class="materials col-sm-12 col-md-6">
      <h3>What goes into a Blanknit?</h3>
      <p class="paragraph">
        Depending on the product you wish to produce, our blankets are made from
        either 100% acrylic yarn or 100% hand-dyed wool yarn.  Our blankets are
        warm, soft, durable and machine washable.  All our blankets are produced
        in the USA. Want to learn more?
      </p>
      <a class="learn-materials more" href="/materials"><h3>View Our Materials</h3></a>
    </div>
    <div class="col-xs-12 col-sm-6">
      <img class="sample sample-img" src="https://s3.amazonaws.com/blanknits/many-blanknits.jpeg" alt="Assortment of Blanknits" />
    </div>
  </div>

  <div class="row ">
    <div class="happy-reaction col-sm-12 col-md-6">
        <img class="sample sample-img" src="https://s3.amazonaws.com/blanknits/reaction.jpeg" alt="Very happy Blanknit reaction"/>
        <a class="reaction" href="/order"><h3>Order Your Own Blanknit!</h3></a>
    </div>

    <div class="questions col-sm-12 col-md-6">
      <div class="center-heading">
        <h3>Want more information?</h3>
        <p>Please contact us with any questions. </p>
      </div>
      <div class="center-form">
        <form ng-name="home.reqInfo" class="req-info">
          <input ng-model="home.name" name="name" type="text" placeholder="Your Name" />
          <input ng-model="home.email" name="email" type="email" placeholder="Email Address" />
          <input ng-model="home.phoneNumber" name="telephone" type="number" placeholder="Your Telephone" />
          <textarea ng-model="home.message" name="message" placeholder="Type your Message"></textarea>
          <button type="submit" ng-click="home.requestInfo()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
