<img id="home-image" src="assets/images/home-image.jpg" alt="Blanknits display image"/>
<a id="home-image-caption" href="/gallery"><h2>See Our Gallery</h2></a>
<div class="greeting">
  <h1>Welcome to Blanknits!</h1>
  <p>Hand-loomed, personalized blankets for any occasion.</p>
</div>

<div class="row showcase">
  <div class="col-sm-4 col-xs-12">
    <img class="sample sample-3" src="assets/images/Andrew_and_Laci2.jpeg" alt="Andrew and Laci Blanknit" />
  </div>
  <div class="col-sm-4 col-xs-12">
    <img class="sample sample-3" src="assets/images/wedding.jpeg" alt="wedding picture Blanknit" />
  </div>
  <div class="col-sm-4 col-xs-12">
    <img class="sample sample-3" src="assets/images/Klo.jpeg" alt="Klo Blanknit"/>
  </div>
</div>

<div class="row introduction">
  <div class="about col-sm-12 col-md-6">
    <h3>At Blanknits</h3>
    <p class="at-blanknits">
      We specialize in designing and knitting blankets which are personalized
      to your specifications.  We pride ourselves on creatingone-of-a-kind
      pieces of art.  We don't re-use patterns; at Blanknits,  each blanket is
      designed from a blank canvas.  Whether for baby showers, weddings,
      anniversaries, graduations, retirements, or any other celebration, our
      blankets will be sure to add even more smiles to an already joyous event!
    </p>
    <a class="learn-more" href="aboutUs"><h3>Learn more about our story.</h3></a>
  </div>
  <div class="happy-reaction col-sm-12 col-md-6">
      <a class="reaction" href="/gallery"><h3>Order Your Own Blanknit!</h3></a>
      <img src="assets/images/reaction.jpeg" alt="very happy Blanknit reaction"/>
  </div>
</div>

<div class="row showcase">
  <div class="col-xs-12 col-sm-6">
    <img class="sample sample-2" src="assets/images/many-blanknits.jpeg" alt="Assortment of Blanknits" />
  </div>
  <div class="col-xs-12 col-sm-6">
    <img class="sample sample-2" src="assets/images/baby-blanknit.jpeg" alt="Baby with Blanknit" />
  </div>
</div>

<div class="row">
  <div class="materials col-sm-12 col-md-6">
    <h3>What goes into a Blanknit?</h3>
    <p>
      Depending on the product you wish to produce, our blankets are made from
      either 100% acrylic yarn or 100% hand-dyed wool yarn.  Our blankets are
      warm, soft, durable and machine washable.  All our blankets are produced
      in the USA.
    </p>
  </div>
  <div class="questions col-sm-12 col-md-6">

  </div>
</div>
