<img id="home-image" ng-src="{{home.homeImageUrl}}" alt="Blanknits display image"/>
<a id="home-image-caption" href="/gallery"><h2>See Our Gallery</h2></a>
  <div class="container">
  <div class="greeting">
    <h1>Welcome to Blanknits!</h1>
    <p>Hand-loomed, personalized blankets for any occasion.</p>
  </div>

  <div class="row information">
    <div class="col-md-6 col-xs-12">
      <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/baby-blanknit.jpeg" alt="Baby with Blanknit" />
    </div>
    <div class="col-md-6 col-xs-12">
      <h3>At Blanknits</h3>
      <p class="paragraph">
        We specialize in designing and knitting blankets which are personalized
        to your specifications.  We pride ourselves on creating one-of-a-kind
        pieces of art.  We don't re-use patterns; at Blanknits, each blanket is
        designed from a blank canvas.  Whether for baby showers, weddings,
        anniversaries, graduations, retirements, or any other celebration, our
        blankets will be sure to add even more smiles to an already joyous event!
      </p>
      <a class="learn-story more" href="aboutUs"><h3>Hear Our Story</h3></a>
    </div>
  </div>

  <div class="row showcase">
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/Andrew_and_Laci2.jpeg" alt="Andrew and Laci Blanknit" />
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/wedding.jpeg" alt="wedding picture Blanknit" />
    </div>
    <div class="col-sm-4 col-xs-12">
      <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/Klo.jpeg" alt="Klo Blanknit"/>
    </div>
  </div>

  <div class="row information">
    <div class="materials col-xs-12 col-md-6">
      <h3>What goes into a Blanknit?</h3>
      <p class="paragraph">
        Depending on the product you wish to produce, our blankets are made from
        either 100% acrylic yarn or 90% wool, 10% nylon yarn.  All our blankets
        are warm, soft, durable, machine washable and dryer safe.  All our
        blankets are produced in the USA. Want to learn more?
      </p>
      <a class="learn-materials more" href="/products"><h3>View Our Products</h3></a>
    </div>
    <div class="col-xs-12 col-md-6">
      <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/many-blanknits.jpeg" alt="Assortment of Blanknits" />
    </div>
  </div>

  <div class="row ">
    <div class="happy-reaction col-xs-12 col-md-6">
        <img class="sample sample-img" src="https://s3-us-west-2.amazonaws.com/blanknits-images/Olive.jpg" alt="Very happy Blanknit reaction"/>
        <a class="reaction" href="/order"><h3>Order Your Own Blanknit!</h3></a>
    </div>

    <div class="questions col-xs-12 col-md-6">
      <div class="center-heading">
        <h3>Want more information?</h3>
        <p>Please contact us with any questions. </p>
      </div>

      <div>
        <div id="messages" class="alert alert-success" data-ng-show="home.messages" data-ng-bind="home.messages"></div>
        <!-- <div data-ng-show="home.progress" style="color: red; font-size: 50px;">Sending…</div> -->
        <form name="helpForm" novalidate role="form">
          <div class="form-group" ng-hide="home.messages">
            <label for="name">Your Name </label>
            <span class="label label-danger" data-ng-show="home.submitted && helpForm.name.$error.required">Required!</span>
            <input type="text" name="name" data-ng-model="home.name" class="form-control" required />
          </div>

          <div class="form-group" ng-hide="home.messages">
            <label for="email">Your E-mail address</label>
            <span class="label label-danger" data-ng-show="home.submitted && helpForm.email.$error.required">Required!</span>
            <span class="label label-danger" data-ng-show="home.submitted && helpForm.$error.email">Invalid email!</span>
            <input type="email" name="email" data-ng-model="home.email" class="form-control" required />
          </div>

          <div class="form-group" ng-hide="home.messages">
            <label for="phoneNumber">Your Phone Number</label>
            <span class="label label-danger" data-ng-show="home.submitted && helpForm.$error.phoneNumber">Invalid Phone Number!</span>
            <input type="number" name="phoneNumber" data-ng-model="home.phoneNumber" class="form-control" />
          </div>

          <div class="form-group" ng-hide="home.messages">
            <label for="comments">Comments</label>
            <span class="label label-danger" data-ng-show="home.submitted && helpForm.comments.$error.required">Required!</span>
            <textarea name="comments" data-ng-model="home.comments" class="form-control" required></textarea>
          </div>

          <button data-ng-disabled="home.progress" data-ng-click="home.submit(helpForm)" class="btn helpFormBtn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
