<div class="container">
  <div class="row order-heading">
    <h1>How to Order</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div class="row contact-me">
        <div class="col-xs-8 col-xs-offset-2 contact-box">
          <p>
            If you have any questions, please don't hesitate to contact me at
            <a class="order-link" href="mailto:margee@blanknits.com" target="_top">margee@blanknits.com</a>.
            I will be glad to work with you to make your Blanknit extra special!
          </p>
        </div>
      </div>
      <div class="row pricing">
        <h3>Pricing &amp; Sizes</h3>
        <table class="prices stork">
          <thead>
            <tr>
              <th colspan="3">Stork Blanknits</th>
            </tr>
            <tr>
              <td colspan="3">Made From 100% Acrylic Yarn</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Extra Small<span>(car-seat)</span></td>
              <td>23" Wide x 26" Long</td>
              <td>$100</td>
            </tr>
            <tr>
              <td>Small<span>(crib)</span></td>
              <td>33" Wide x 40" Long</td>
              <td>$150</td>
            </tr>
            <tr>
              <td>Medium<span>(lap)</span></td>
              <td>39" Wide x 52" Long</td>
              <td>$175</td>
            </tr>
            <tr>
              <td>Large<span>(adult)</span></td>
              <td>42" Wide x 60" Long</td>
              <td>$190</td>
            </tr>
          </tbody>
        </table>

        <table class="prices lamb">
          <thead>
            <tr>
              <th colspan="3">Lamb Blanknits</th>
            </tr>
            <tr>
              <td colspan="3">Made From 90% Wool, 10% Nylon Yarn</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Extra Small<span>(car-seat)</span></td>
              <td>23" Wide x 26" Long</td>
              <td>$230</td>
            </tr>
            <tr>
              <td>Small<span>(crib)</span></td>
              <td>33" Wide x 40" Long</td>
              <td>$350</td>
            </tr>
            <tr>
              <td>Medium<span>(lap)</span></td>
              <td>39" Wide x 52" Long</td>
              <td>$385</td>
            </tr>
            <tr>
              <td>Large<span>(adult)</span></td>
              <td>42" Wide x 60" Long</td>
              <td>$400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row disclosure">
        <p class="fine-print">
          **All orders ship for free in the continental United States.  If the
          order is being shipped to a location in Arizona, we will have to add
          6.70% for tax purposes.
        </p>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <h3>Ordering Process</h3>
      <ul class="process">
        <li>
          Fill out our Order Form below. We have three different sizes and two
          different yarn types to choose from.  Choose either a Stork or Lamb
          Blanknit,as well as the size from the drop-down menus.
        </li>
        <li>
          For the Stork Blanknit, please select two colors for the
          yarn.  You can view all our Acrylic Yarn Colors on the
          <a class="order-link" href="/products/colors">Colors Page.</a>
        </li>
        <li>
          Indicate any design elements you would like incorporated (i.e. if
          this is for a baby shower or child's birthday, please include the
          name of the person on the Blanknit).  You can also reference any of
          the Blanknits designs from our <a class="order-link"
          href="/gallery/babyName">Gallery.</a>
        </li>
        <li>
          Our Lamb Blanknits come in a gradient of colors that are hand-dyed to
          your specifications.  Please indicate any preferences in the comments
          section, and Margee will work with you to make the perfect Blanknit.
        </li>
        <li>
          In the order form below, complete your payment via PayPal.  We will
          begin the design process as soon as we receive payment. Typically,
          the initial design takes a few days to build, but we will e-mail a
          picture for your Blanknit design as soon as it is ready in order to
          get your approval.
        </li>
        <li>
          If there are any changes you wish to be made, we
          will be happy to revise the design. However, because of the length of
          time involved in the design process, we can only design two revisions
          in addition to the original design; if you are still not satisfied
          with our design after the final revision, we can create additional
          revisions but at additional charges.
        </li>
        <li>
          NOTE: We cannot offer refunds if any
          of the information provided by the customer is incorrect. So please
          double-check to make sure all the information you provide is
          accurate and that all the elements on the final Blanknit are also
          correct.
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 shopping-cart">
      <div class="row">
        <h1 class="order-group order">Order a Blanknit Today!</h1>
        <div class="paypal-table paypal-accepted row">
          <!-- PayPal Logo --><table class="col-xs-12 col-md-4" id="paypal-info"><tr></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img id="paypal-img" src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" alt="Now Accepting PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works"><font size="2" face="Arial" color="#0079CD">How PayPal Works</font></a></div></td></tr></table><!-- PayPal Logo -->
        </div>

        <form target="_top" action="https://www.paypal.com/cgi-bin/webscr"
          method="post" class="order-form" name="orderForm" role="form" >
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="{{order.ppButtonValue()}}">


          <div class="row">

            <input type="hidden" name="on1" value="Blanknit Type">

            <div class="col-xs-6 order-group">
              <label for="type">Blanknit Type: </label>
              <span class="label label-danger" data-ng-show="order.submitted && orderForm.os1.$error.required">Required!</span>
              <select name="os1" ng-change="order.resetColors()"
                data-ng-options="option for option in order.typeOptions"
                data-ng-model="order.type" data-ng-value="order.type" class="order-control" required>
              </select>
            </div>

            <input type="hidden" name="on0" value="Blanknit Size">

            <div class="col-xs-6 order-group">
              <label for="size">Blanknit Size: </label>
              <span class="label label-danger" data-ng-show="order.submitted && orderForm.os0.$error.required">Required!</span>
              <select name="os0" data-ng-options="option for option in order.sizeOptions"
              data-ng-model="order.size" data-ng-value="{{order.size + order.resident}}" class="order-control" required>

              </select>
            </div>
          </div>

            <div ng-show="order.type=='Stork Blanknit'" class="row" ng-class="order.showColorSelection">
              <div class="col-xs-6 order-group">
                <label for="color1">Color 1: </label>
                <span class="label label-danger" data-ng-show="order.submitted && orderForm.color1.$error.required && order.type != 'Lamb Blanknit'">Required!</span>
                <select name="color1" ng-disabled="order.type!='Stork Blanknit'" ng-change="order.parseJSON(1)" data-ng-model="order.selection1" class="order-control" ng-required="order.type == 'Stork Blanknit'">
                  <option disabled></option>
                  <option ng-repeat="yarn in order.yarns" class="selection"
                          value="{{yarn}}">{{yarn.name}}</option>
                </select>
                <div ng-show="order.color1" class="color1 display">
                  <img ng-click="order.setYarnClass(1)" tw-click-outside="order.sizeYarnClass[1]=''"
                    ignore-if="order.sizeYarnClass[1]=''" ng-init="order.sizeYarnClass[1]=''"
                    ng-class="order.sizeYarnClass[1]" class="color1" ng-src="{{order.color1.url}}"
                    alt="Color 1 selection" />
                  <p class="yarn-label" ng-class="order.sizeYarnClass[1]">{{order.color1.name}}</p>
                </div>
              </div>

              <div class="col-xs-6 order-group">
                <label for="color2">Color 2: </label>
                <span class="label label-danger" data-ng-show="order.submitted && orderForm.color2.$error.required && order.type != 'Lamb Blanknit'">Required!</span>
                <select name="color2" ng-disabled="order.type!='Stork Blanknit'" ng-change="order.parseJSON(2)" data-ng-model="order.selection2" class="order-control" ng-required="order.type == 'Stork Blanknit'">
                  <option disabled></option>
                  <option ng-repeat="yarn in order.yarns" class="selection"
                          value="{{yarn}}">{{yarn.name}}</option>
                </select>
                <div ng-show="order.color2" class="color2 display">
                  <img ng-click="order.setYarnClass(2)" tw-click-outside="order.sizeYarnClass[2]=''"
                    ignore-if="order.sizeYarnClass[2]=''" ng-init="order.sizeYarnClass[2]=''"
                    ng-class="order.sizeYarnClass[2]" class="color2" ng-src="{{order.color2.url}}"
                    alt="Color 2 selection" />
                  <p class="yarn-label" ng-class="order.sizeYarnClass[2]">{{order.color2.name}}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 order-group">
                <label for="name">Your Name: </label>
                <span class="label label-danger" data-ng-show="order.submitted && orderForm.name.$error.required">Required!</span>
                <input name="name" type="text" data-ng-model="order.name" class="input-element" required/>
              </div>

              <div class="col-xs-6 order-group">
                <label for="email">Email Address: </label>
                <span class="label label-danger" data-ng-show="order.submitted && orderForm.email.$error.required">Required!</span>
                <span class="label label-danger" data-ng-show="order.submitted && orderForm.$error.email">Invalid email!</span>
                <input name="email" type="email" data-ng-model="order.email" class="input-element" required/>
              </div>
            </div>

          <div class="row">
            <div class="col-xs-6 order-group">
              <label for="gift">Is this a gift?: </label>
              <input type="checkbox" name="gift" data-ng-model="order.gifted" value="gift" class="order-control"></input>
              <div ng-show="order.gifted" class="gift-input">
                <label for="gift-info">Please enter the giftee's name, if known. </label>
                <input type="text" data-ng-model="order.giftInfo" class="order-control input-element" />
              </div>
            </div>

            <div class="col-xs-6 order-group">
              <label for="resident">AZ resident?: </label>
              <input type="checkbox" name="resident" data-ng-model="order.resident" class="order-control" />
              <p ng-class="order.tax()" class="fine-print">
                **6.70% sales tax will be added to your order.
              </p>
            </div>
          </div>

          <div class="order-group">
            <h2 class="order-total">Order Total:  {{order.total() | currency}}</h2>
          </div>

          <div class="order-group">
            <label for="comments">Comments: </label>
            <span class="label label-danger" data-ng-show="order.submitted && orderForm.comments.$error.required">Required!</span>
            <p class="fine-print">
              Please indicate some ideas for your design. You will be contacted
              by Margee for further design consultation.
            </p>
            <textarea name="comments" data-ng-model="order.comments" class="order-control comments" required></textarea>
          </div>

          <div class="row accepting">
            <input type="hidden" name="currency_code" value="USD">
            <input ng-click="order.submit(orderForm)" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
