body {
  background-color: #37474f;
  color: #eceff1;
}
p {
  font-size: 1.3em;
}
.logo > img {
  height: 50px;
}
.nav > li {
  width: 100px;
  border-left: 1px solid gray;
  text-align: center;
}
.nav > li:last-child {
  border-right: 1px solid gray;
}
.nav > li:hover {
  border-left: 1px solid #eceff1;
  border-right: 1px solid #eceff1;
}
ul.nav {
  padding-right: 100px;
}
main {
  margin-top: 50px;
}
.nav-menu {
  display: none;
  color: black;
}
.navbar-header {
  height: 0;
}
#productDropdown, #galleryDropdown {
  padding: 15px;
  color: #9d9d9d;
  cursor: pointer;
}
#productDropdown:hover, #galleryDropdown:hover {
  color: #eceff1;
}
#productDropdown:hover .arrow-down, #galleryDropdown:hover .arrow-down {
  border-top-color: #eceff1;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  position: absolute;
  top: 24px;
  margin-left:3px;
  display:inline;
}
.menu-arrow-left {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid gray;
  border-top: 5px solid transparent;
  position: absolute;
  margin-top: 16px;
  left: 5px;
  display: inline;
}
.dropdownButton, .dropdownButton:focus  {
  box-shadow: 0;
  background-color: #222;
  border: 1px solid gray;
  color: #9d9d9d;
}
.dropdownButton:hover {
  color: #eceff1;
  border: 1px solid #eceff1;
}
.dropdownButton:focus {
  outline: none;
}
.nav-menu {
  position: relative;
  display: none;
}
.dropdown-content {
  background-color: #222;
  position: absolute;
  min-width: 120px;
  margin-left: -60px;
}
.product-dropdown, .gallery-dropdown {
  position: absolute;
  top: 50px;
  margin-left: 100px;
  width: 160px;
  background-color: #222;
}
.gallery-dropdown {
  margin-left: 200px;
}
.dropdown-content a, .product-dropdown a, .gallery-dropdown a,
.products-side-menu p, .gallery-side-menu p {
  color: #9d9d9d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid gray;
  font-size: 14px;
  position: relative;
}
.products-side-menu p, .gallery-side-menu p {
  margin-bottom: 0;
}
.dropdown-content a:first-child, .gallery-dropdown a:first-child,
.product-dropdown a:first-child {
  border-top: 1px solid gray;
}
.dropdown-content a:hover, .product-dropdown a:hover,
.gallery-dropdown a:hover, .products-side-menu:hover p,
.gallery-side-menu:hover p {
  color: #eceff1;
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
}
.products-side-menu:hover .menu-arrow-left, .gallery-side-menu:hover .menu-arrow-left {
  border-right-color: #eceff1;
}
.gallery-menu, .products-menu {
  position: absolute;
  right: 120px;
  background-color: #222;
  border-right: 1px solid gray;
}
.gallery-menu {
  width: 170px;
  top: 90px;
}
.products-menu {
  top: 45px;
}
.show {
  display:block;
}

@media (max-width: 905px) {
    #home-image {
      height: 250px;
    }
    .nav-menu   {
        display: inline-block;
        float: right;
        margin-right: 3%;
        margin-top: 10px;
        font-size: 14px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .collapse.in{
        display:block !important;
    }
}
footer {
  text-align: center;
  height: 40px;
}
.footer-logo {
  width: 200px;
}
.footer {
  margin-top: 30px;
}

/* --- CSS for home.html --- */

.view {
  margin-top: 30px;
}
#home-image {
  width: 100%;
  margin: 0;
}
#home-image-caption {
  position: relative;
  text-align: center;
}
#home-image-caption > h2 {
  border: 1px solid gray;
  position: relative;
  color: #9d9d9d;
  background-color: #222;
  top: -30px;
  margin: -30px auto 0 auto;
  padding: 10px 0;
  width: 260px;
}
#home-image-caption > h2:hover {
  color: #fff;
  border: 1px solid #eceff1;
}
#home-image-caption:hover {
  text-decoration: none;
}
.greeting {
  text-align: center;
}
.showcase {
  text-align: center;
}
.information {
  align-items: center;
}
.sample {
  margin-top: 20px;
}
.sample-img {
  width: 100%;
}
.paragraph {
  display: flex;
  text-align: justify;
}
.more > h3, .reaction > h3 {
  text-align: center;
  background-color: #222;
  border: 1px solid gray;
  color: #9d9d9d;
  padding: 10px 0;
  margin: 0 auto;
}
.more > h3:hover, .reaction > h3:hover {
  color: #eceff1;
  border: 1px solid #eceff1;
}
.more:hover, .reaction:hover {
  text-decoration: none;
}
.learn-story > h3 {
  width: 220px;
}
.learn-materials > h3 {
  width: 250px;
}
.happy-reaction {
  text-align: center;
}
.reaction > h3 {
  width: 300px;
  margin: 20px auto;
}
.helpFormBtn {
  background-color: #222;
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  font-size: 18px;
  margin: auto auto;
}
.helpFormBtn:hover {
  color: #eceff1;
  border: 1px solid #eceff1;
}
.helpFormBtn:focus {
  outline: none;
  color: #9d9d9d;
}

/* --- CSS for gallery.html --- */
.gallery {
  text-align: center;
}
.gallery-description {
  width: 90%;
  text-align: justify;
  margin: 10px auto;
}
.gallery-nav {
  margin: 10px 0;
}
.gallery-nav h3 {
  display: inline;
}
.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid gray;
  border-top: 5px solid transparent;
  position: absolute;
  margin-top: 5px;
  left: 5px;
  display: inline;
  transition: all .4s ease;
}
.arrow-right {
  width: 0;
  height: 0;
  border-left: 5px solid gray;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  position: absolute;
  margin-top: 5px;
  right: 5px;
  display: inline;
  transition: all .4s ease;
}
.gallery-nav-link {
  background-color: #222;
  position:relative;
  border: 1px solid gray;
  display: inline;
  margin: 0 20px;
  transition: all .4s ease;
}
.left-link {
  padding: 3px 3px 3px 15px;
}
.right-link {
  padding: 3px 15px 3px 5px;
}
.gallery-nav a {
  display:inline;
  color: gray;
  transition: all .4s ease;
}
.gallery-nav-link:hover a {
  color: #eceff1;
  text-decoration: none;
  font-size: 16px;
  transition: all .4s ease;
}
.gallery-nav-link:hover {
  border: 1px solid #eceff1;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gallery-nav-link:hover .arrow-left {
  border-right-color: #eceff1;
  margin-top: 6px;
  transition: all .4s ease;
}
.gallery-nav-link:hover .arrow-right {
  border-left-color: #eceff1;
  margin-top: 6px;
  transition: all .4s ease;
}
.galleryItem {
  overflow: hidden;
  width: 260px;
  height: 260px;
  display: inline-block;
  margin: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.galleryPic {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #37474f;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
div.larger-image {
  overflow: visible;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
img.larger-image {
  z-index: 1;
  min-width: 400px;
  min-height: 400px;
  position: relative;
  border: 1px solid black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* --- CSS for materials.html --- */

.product-top {
  margin-top: 20px;
}
.difference-image {
  width: 100%;
}
.blanknit-description {
  text-align: justify;
}
.example-heading {
  width: 250px;
  margin-left: -10px;
}
.example {
  width: 50%;
  margin: 20px 20px 20px 0;
  float:left;
}
.link:hover {
  color: yellow;
}


/* --- CSS for colors.html --- */

.colors-heading {
  text-align: center;
}
.colors {
  text-align: center;
}
.yarn-images {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  height: 200px;
}
.yarn-images img {
  width: 100px;
  height: 135px;
  margin: 10px 0 7px 0;
  overflow: hidden;
  position: relative;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.yarn-name {
  width: 135px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  margin: auto;
  border: 1px solid #37474f;
}
img.enlarge {
  width: 200px;
  height: 270px;
}
.yarn-images .enlarge {
  z-index: 1;
  position: relative;
  border: 1px solid black;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
p.enlarge {
  background-color: black;
  width: 200px;
  margin-top: -10px;
  padding: 5px;
}

/* --- CSS for order.html --- */

.order-heading {
  text-align: center;
}
.contact-box {
  text-align: justify;
}
.order-link:hover {
  color: yellow;
}
table, th, tr, td {
  border: 1px solid #222;
}
.prices {
  width: 90%;
  table-layout: fixed;
  margin: 20px auto;
  background-color: #263238;
}
th {
  font-size: 18px;
  border-bottom: 1px solid #263238;
  padding-top: 10px;
}
th, thead > tr > td {
  padding-left: 30px;
}
thead > tr > td, .fine-print {
  font-size: 12px;
}
tbody > tr > td > span {
  font-size: 12px;
  display: block;
}
tbody > tr > td {
  padding: 10px 0;
}
tbody tr td {
  text-align: center;
}
.disclosure {
  margin: 0 auto;
  width: 90%;
}
.process > li {
  margin-top: 20px;
  text-align: justify;
  font-size: 1.1em;
}
.shopping-cart {
  background-color: #263238;
  border: 1px solid #222;
  padding: 5px 30px;
  margin-top: 30px;
}
.order-form {
  margin-bottom: 40px;
}
.order-group > select {
  color: #263238;
  display: block;
  width: 180px;
}
.order-group  {
  margin: 15px 0;
  padding: 10px;
  display: block;
}
.order-group > label {
  font-size: 18px;
}
.color1, .color2 {
  height: 150px;
  width: 110px;
}
.color1-display, .color2-display {
  width: 140px;
  text-align: center;
  position: absolute;
  right: 15%;
}
.color1-display {
  top: 95px;
}
.color2-display {
  top: 295px;
}
.comments {
  display: block;
  color: #263238;
  height: 80px;
  width: 100%;
}
.giftee {
  color: #263238;
  display: block;
}
.paypal {
  text-align: center;
}
.order-control:disabled {
  background-color: gray;
}

/* --- CSS for aboutUs.html --- */
.about-margee {
  padding: 20px;
}
.about-link:hover {
  color: yellow;
}
.margee-pic {
  width: 100%;
}
.faq-heading {
  text-align: center;
}
.faq {
  text-align: justify;
  background-color: #263238;
}
.design-example {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.design {
  height: 400px;
  width: 250px;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.design:hover {
  border: 1px solid #37474f;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.design.enlarge-example {
  height: 650px;
  width: 410px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.enlarge-example:hover {
  border: 1px solid #222;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gift-img {
  width: 100%;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gift-img.enlarge-example {
  width: 150%;
  margin-left: -25%;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
