body {
  background-color: #37474f;
  color: #eceff1;
}
.logo > img {
  height: 50px;
}
.nav > li {
  width: 100px;
  border-left: 1px solid gray;
  text-align: center;
}
.nav > li:last-child {
  border-right: 1px solid gray;
}
.nav > li:hover {
  border-left: 1px solid #eceff1;
  border-right: 1px solid #eceff1;
}
ul {
  padding-right: 100px;
}
main {
  margin-top: 75px;
}
.nav-menu {
  display: none;
  color: black;
}
.dropdownButton, .dropdownButton:focus  {
  box-shadow: 0;
  background-color: #222;
  border: 1px solid gray;
  color: #9d9d9d;
}
.dropdownButton:hover {
  color: #eceff1;
  border: 1px solid #eceff1;
}
.nav-menu {
  position: relative;
  display: none;
}
.dropdown-content {
  background-color: #222;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: #9d9d9d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid gray;
}
.dropdown-content a:first-child {
  border-top: 1px solid gray;
}
.dropdown-content a:hover {
  color: #eceff1;
  border-top: 1px solid #eceff1;
  border-bottom: 1px solid #eceff1;
}
.show {
  display:block;
}

@media (max-width: 905px) {
    #home-image {
      height: 250px;
    }
    .nav-menu   {
        display: inline-block;
        float: right;
        margin-right: 100px;
        margin-top: 10px;
        font-size: 20px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* --- CSS for home.html --- */
#home-image {
  width: 100%;
  height: 500px;
}
#home-image-caption {
  position: relative;
  text-align: center;
}
#home-image-caption > h2 {
  border: 1px solid gray;
  position: relative;
  color: #9d9d9d;
  background-color: #222;
  top: -30px;
  margin: -30px auto 0 auto;
  width: 240px;
}
#home-image-caption > h2:hover {
  color: #fff;
  border: 1px solid #eceff1;
}
#home-image-caption:hover {
  text-decoration: none;
}
.greeting {
  text-align: center;
}
.showcase {
  text-align: center;
}
.information {
  display: flex;
  align-items: center;
}
.sample {
  margin-top: 20px;
}
.sample-img {
  width: 100%;
}
.paragraph {
  text-align: justify;
}
.more > h3, .reaction > h3 {
  text-align: center;
  background-color: #222;
  border: 1px solid gray;
  color: #9d9d9d;
  padding: 10px 0;
  margin: 0 auto;
}
.more > h3:hover, .reaction > h3:hover {
  color: #eceff1;
  border: 1px solid #eceff1;
}
.more:hover, .reaction:hover {
  text-decoration: none;
}
.learn-story > h3 {
  width: 330px;
}
.learn-materials > h3 {
  width: 360px;
}
.happy-reaction {
  text-align: center;
}
.reaction > h3 {
  width: 300px;
  margin: 20px auto;
}
footer {
  text-align: center;
  height: 40px;
}
.footer-logo {
  width: 200px;
}
.footer {
  margin-top: 30px;
}
.row {
  margin-top: 30px;
}
