<div class="container gallery">
  <div class="row">
    <h2>Blanknits Gallery</h2>
    <p class="gallery-description">
      Here are just a few of blankets we have designed.  We are constantly looking
      for new and fun designs to make.  Maybe your blanket will be the next one
      added to our gallery!
    </p>
  </div>

  <div class="row gallery">
    <div class="row gallery-nav">
      <h3>Lamb Blanknits</h3>
    </div>
    <div class="row gallery-nav">
      <div class="prev gallery-nav-link">
        <div class="arrow-left"></div>
        <a class="left-link" href="/gallery/logo">View Previous Gallery</a>
      </div>
      <div class="next gallery-nav-link">
        <a class="right-link" href="/gallery/babyName">View Next Gallery</a>
        <div class="arrow-right"></div>
      </div>
    </div>

    <div class="galleryItem" ng-class="gallery.sizeClass[$index]" ng-repeat="picture in gallery.allPics.lamb">
    <img ng-click="gallery.setClass($index)" tw-click-outside="gallery.sizeClass[$index]=''"
      ignore-if="gallery.sizeClass[$index]=''" ng-init="gallery.sizeClass[$index]=''"
      ng-class="gallery.sizeClass[$index]" ng-src="{{picture}}"
      class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" />
    </div>

    <div class="row gallery-nav">
      <div class="prev gallery-nav-link">
        <div class="arrow-left"></div>
        <a class="left-link" href="/gallery/logo">View Previous Gallery</a>
      </div>
      <div class="next gallery-nav-link">
        <a class="right-link" href="/gallery/babyName">View Next Gallery</a>
        <div class="arrow-right"></div>
      </div>
    </div>
  </div>

</div>
