<div class="container">
  <div class="row colors-heading">
    <h2>Stork Colors - 100% Acrylic Yarn</h2>
    <p>(Click to Enlarge)</p>
  </div>

  <div class="row">
    <div class="colors">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 yarn-images" ng-repeat="yarn in colors.yarns" >
        <a href="#" data-toggle="modal" data-target="#myModal{{$index}}" class="btnthumbnail">
          <img ng-src="{{yarn.url}}" alt="yarn image"/>
        </a>

        <p class="yarn-name">{{yarn.name}}</p>

        <!-- Yarn Modal -->
        <div class="modal fade" id="myModal{{$index}}" role="dialog">
          <div class="modal-dialog modal-sm">

            <!-- Yarn Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{yarn.name}}</h3>
              </div>
              <div class="modal-body modal-yarn-body">
                <img class="modal-yarn" ng-src="{{yarn.url}}"
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
  </div>

  <div class="row display-wool">
    <h2>Lamb Colors - 90% Wool, 10% Nylon Yarn</h2>
    <div class="galleryItem" ng-class="colors.sizeClass[$index]" ng-repeat="picture in colors.allPics.lamb">
    <img ng-click="colors.setClass($index)" tw-click-outside="colors.sizeClass[$index]=''"
      ignore-if="colors.sizeClass[$index]=''" ng-init="colors.sizeClass[$index]=''"
      ng-class="colors.sizeClass[$index]" ng-src="{{picture}}"
      class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" />
    </div>

  </div>

</div>
