<div class="container">
  <div class="row colors-heading">
    <h2>Stork Colors - 100% Acrylic Yarn</h2>
    <p>(Click to Enlarge)</p>
  </div>

  <div class="row">
    <div class="colors">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 yarn-images" ng-repeat="yarn in colors.yarns" >
        <img ng-click="colors.setYarnClass($index)" tw-click-outside="colors.sizeYarnClass[$index]=''"
          ignore-if="colors.sizeYarnClass[$index]=''" ng-init="colors.sizeYarnClass[$index]=''"
          ng-class="colors.sizeYarnClass[$index]" ng-src="{{yarn.url}}" alt="yarn image" />
        <p class="yarn-name" ng-class="colors.sizeYarnClass[$index]">{{yarn.name}}</p>
      </div>
    </div>
  </div>

  <div class="row display-wool">
    <h2>Lamb Colors - 90% Wool, 10% Nylon Yarn</h2>
    <div class="galleryItem" ng-class="colors.sizeClass[$index]" ng-repeat="picture in colors.allPics.lamb">
    <img ng-click="colors.setClass($index)" tw-click-outside="colors.sizeClass[$index]=''"
      ignore-if="colors.sizeClass[$index]=''" ng-init="colors.sizeClass[$index]=''"
      ng-class="colors.sizeClass[$index]" ng-src="{{picture}}"
      class="galleryPic img-responsive" alt="Blanknits image" ng-src="{{picture}}" />
    </div>

  </div>

</div>
