<div class="container">
  <div class="row colors-heading">
    <h1>100% Acrylic Yarn Colors</h1>
    <p>(Click to Enlarge)</p>
  </div>

  <div class="colors">
    <div class="col-xs-4 col-sm-3 col-md-2 yarn-images" ng-repeat="yarn in colors.yarns" >
      <img ng-click="colors.setClass($index)" tw-click-outside="colors.sizeClass[$index]=''"
        ignore-if="colors.sizeClass[$index]=''" ng-init="colors.sizeClass[$index]=''"
        ng-class="colors.sizeClass[$index]" ng-src="{{yarn.url}}" alt="yarn image" />
      <p class="yarn-name" ng-class="colors.sizeClass[$index]">{{yarn.name}}</p>
    </div>
  </div>

  <div class="row">
    <h2>90% Wool, 10% Nylon Yarn Colors</h2>

  </div>

</div>
