<div class="container admin">
  <h1>Admin Page</h1>
  <!-- TODO:
       Post new images
       delete images
       replace home-page banner image
       Make new blog entry.
  -->

  <div class="upload col-xs-12 col-md-6 col-lg-4">
    <h3>Upload a new image.</h3>


    <img style="border:1px solid gray;width:300px;"  id="preview" src="https://s3-us-west-2.amazonaws.com/blanknits-logos/Main-Logo.png">

    <form  enctype="multipart/form-data" name="uploadForm" id="uploadForm">
      <label for="file-input">Please select a file</label>
      <input type="file" ng-model="admin.upload.file" ngf-select ngf-max-size="10MB" name="file-input" id="file-input" required>
      <label for="fileName">File Name:</label>
      <input type="text" name="fileName" ng-model="admin.upload.name" id="fileName" placeholder="Name..." required><br>
      <label for="category">Category:</label>
      <select id="category" name="category" ng-model="admin.upload.category" placeholder="Select">
        <option selected disabled>Select...</option>
        <option value="babyName">Baby name</option>
        <option value="customized">Customized</option>
        <option value="lamb">Lamb</option>
        <option value="logo">Logo</option>
        <option value="momento">Momento</option>
        <option value="symbol">Symbol</option>
      </select>
      <input type="submit" ng-click="admin.uploadPicture()" value="Upload Image" />
    </form>

  </div>

  <div class="remove col-xs-12 col-md-6 col-lg-4">
    <h3>Remove an image.</h3>
  </div>

  <div class="post col-xs-12 col-md-6 col-lg-4">
    <h3>Replace home-page banner image.</h3>
  </div>

  <div class="blog col-xs-12 col-md-6 col-lg-4">
    <h3>Make a new blog post.</h3>
  </div>


</div>
