<div class="container admin">
  <h1>Admin Page</h1>
  <!-- TODO:
       Post new images
       delete images
       replace home-page banner image
       Make new blog entry.
  -->

  <div class="upload col-xs-12 col-md-6 col-lg-4">
    <h3>Upload a new image.</h3>
    <form name="uploadForm" id="uploadForm">
      <label>Category:</label>
      <select  name="category" placeholder="Select">
        <option selected disabled>Select...</option>
        <option value="babyName">Baby name</option>
        <option value="customized">Customized</option>
        <option value="lamb">Lamb</option>
        <option value="logo">Logo</option>
        <option value="momento">Momento</option>
        <option value="symbol">Symbol</option>
      </select>
    </form>

  </div>

  <div class="remove col-xs-12 col-md-6 col-lg-4">
    <h3>Remove an image.</h3>
  </div>

  <div class="post col-xs-12 col-md-6 col-lg-4">
    <h3>Replace home-page banner image.</h3>
  </div>

  <div class="blog col-xs-12 col-md-6 col-lg-4">
    <h3>Make a new blog post.</h3>
  </div>


</div>
